

// side panel is the right side of a desktop view
#side-panel {
    border: 1px solid gray;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    width: fit-content;
    min-width: 200px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}